/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #FFE4E1,#FFF0F5,#FFE4E1);
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5; /* Light grey background */
}

.calculator {
    border: 2px solid #000;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 350px;
    align-self: center;
}

#display {
    background: #F5F5F5;
    width: 100%;
    text-align: right;
    font-size: 22px;
    margin-bottom: 10px;
    padding: 20px;  
    border-radius: 8px;
    border: 2px solid #C0C0C0;
    white-space: pre-wrap; /* Allow line breaks */
    min-height: 60px;
    
}

/* Buttons Grid */
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 buttons per row */
    gap: 8px; /* Adds spacing between buttons */
}

button {
    background: #F5F5F5; /* Uniform light grey color */
    border: none;
    color:#333;
    border-radius: 5px;
    border: 2px solid #C0C0C0;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
}

/* Hover effect for all buttons */
button:hover {
    background: #e0e0e0; /* Slightly darker grey */
    transform: translateY(-1px); /* Lift effect */
}

/* Equals Button */
.equals {
    background: #F5F5F5; /* Blue for the equals button */
    border: 2px solid #C0C0C0;
    font-size: 20px;
    border-radius: 6px;
    padding: 15px;
    grid-column: span 4;
    text-align: center;
    
}

.equals:hover {
    background: #d0d0d0; /* Slightly darker blue on hover */
    transform: translateY(-1px);
}
